extend ../base 

block content
  .container
    .row
      .col-lg-12
        .card
          .card-body.p-0
            .iq-edit-list
              ul.iq-edit-profile.row.nav.nav-pills
                li.col-md-3.p-0
                  a.nav-link.active(data-bs-toggle='pill' href='#personal-information')
                    | Personal Information
                li.col-md-3.p-0
                  a.nav-link(data-bs-toggle='pill' href='#chang-pwd')
                    | Change Password
                li.col-md-3.p-0
                  a.nav-link(data-bs-toggle='pill' href='#emailandsms')
                    | Email and SMS
                li.col-md-3.p-0
                  a.nav-link(data-bs-toggle='pill' href='#manage-contact')
                    | Manage Contact
      .col-lg-12
        .iq-edit-list-data
          .tab-content
            #personal-information.tab-pane.fade.active.show(role='tabpanel')
              .card
                .card-header.d-flex.justify-content-between
                  .header-title
                    h4.card-title Personal Information
                .card-body
                  form.form-user-data
                    .form-group.row.align-items-center
                      .col-md-12
                        .profile-img-edit
                          img.profile-pic(src=`./img/users/${user.avatar}` alt='profile-pic')
                          .p-image
                            //- label(for='avatar')
                            i.ri-pencil-line.upload-button.text-white
                            input.file-upload(type='file'  accept='image/*' name='avatar')
                            //- input#avatar(type='file' accept='image/*' name='avatar' hidden)
                    .row.align-items-center
                      .form-group.col-sm-6
                        label.form-label(for='fname') First Name:
                        input#fname.form-control(type='text' value=`${user.firstName}` name='firstName')
                      .form-group.col-sm-6
                        label.form-label(for='lname') Last Name:
                        input#lname.form-control(type='text'  value=`${user.lastName}` name='lastName')
                      .form-group.col-sm-6
                        label.form-label(for='kname') Key Name:
                        input#kname.form-control(type='text'  value=`${user.key}` name='key' readonly)
                      .form-group.col-sm-6
                        label.form-label(for='occupation') Occupation:
                        input#occupation.form-control(type='text'  value=`${user.occupation || ''}` name='occupation' placeholder= `${user.occupation || 'Chưa cập nhật'}`)
                      .form-group.col-sm-6
                        label.form-label.d-block Gender: #{user.gender}
                        .form-check.form-check-inline
                          input#inlineRadio10.form-check-input(type='radio' name='gender' value='male' checked=user.gender === 'male')
                          label.form-check-label(for='inlineRadio10') Male
                        .form-check.form-check-inline
                          input#inlineRadio11.form-check-input(type='radio' name='gender' value='female' checked=user.gender === 'female')
                          label.form-check-label(for='inlineRadio11') Female

                      .form-group.col-sm-6
                        label.form-label(for='dob') Date Of Birth:
                        input#dob.form-control(type= 'date' value=`${ (user && user.dOb) ? user.dOb.toISOString().split('T')[0] : ''}`  name='dOb')
                      .row
                        .form-group.col-sm-6
                          label.form-label About:
                          textarea.form-control(name='about' rows='5' style='line-height: 22px;' placeholder= `${user.about || 'Chưa cập nhật'}`)= `${user.about || ''}`
                           
                        .form-group.col-sm-6
                          label.form-label Address:
                          textarea.form-control(name='address' rows='5' style='line-height: 22px;' placeholder= `${user.address || 'Chưa cập nhật'}`)= `${user.address || ''}`
                    button.btnSubmit.btn.btn-primary.me-2(type='submit') Update
            #chang-pwd.tab-pane.fade(role='tabpanel')
              .card
                .card-header.d-flex.justify-content-between
                  .iq-header-title
                    h4.card-title Change Password
                .card-body
                  form.form-user-password
                    .form-group
                      label.form-label(for='cpass') Current Password:
                      a.float-end(href='/forgot-password') Forgot Password
                      input#cpass.form-control(type='Password' value='' name = 'passwordCurrent')
                    .form-group
                      label.form-label(for='npass') New Password:
                      input#npass.form-control(type='Password' value='' name = 'password')
                    .form-group
                      label.form-label(for='vpass') Verify Password:
                      input#vpass.form-control(type='Password' value='' name='passwordConfirm')
                    button.btnSubmit.btn.btn-primary.me-2(type='submit') Submit