extend ../base

mixin commentItem(comment, ms)
  ul.post-comments.p-0(class=`ms-${ms}`)
    li.mb-2
      .d-flex.flex-wrap
        .user-img
          img.avatar-35.rounded-circle.img-fluid(src='../assets/images/user/02.jpg' alt='userimg')
        .comment-data-block.ms-3
          h6= comment.user.username
          p.mb-0= comment.comment
          .d-flex.flex-wrap.align-items-center.comment-activity
            a(href='#') like
            a(href='#') reply
            span= comment.moment

block content
  .container
    .row
      .col-sm-12
        .card
          .card-body.profile-page.p-0
            .profile-header
              .position-relative
                img.rounded.img-fluid(src='../assets/images/page-img/profile-bg1.jpg' alt='profile-bg')
                ul.header-nav.list-inline.d-flex.flex-wrap.justify-end.p-0.m-0
                  li
                    a(href='#')
                      i.ri-pencil-line
                  li
                    a(href='#')
                      i.ri-settings-4-line
              .user-detail.text-center.mb-3
                .profile-img
                  img.avatar-130.img-fluid(src=`../img/users/${user.avatar}` alt='profile-img')
                .profile-detail
                  h3= user.username
              .profile-info.p-3.d-flex.align-items-center.justify-content-between.position-relative
                .social-links
                  ul.social-data-block.d-flex.align-items-center.justify-content-between.list-inline.p-0.m-0
                    li.text-center.pe-3
                      a(href='#')
                        img.img-fluid.rounded(src='../assets/images/icon/08.png' alt='facebook')
                    li.text-center.pe-3
                      a(href='#')
                        img.img-fluid.rounded(src='../assets/images/icon/09.png' alt='Twitter')
                    li.text-center.pe-3
                      a(href='#')
                        img.img-fluid.rounded(src='../assets/images/icon/10.png' alt='Instagram')
                    li.text-center.pe-3
                      a(href='#')
                        img.img-fluid.rounded(src='../assets/images/icon/11.png' alt='Google plus')
                    li.text-center.pe-3
                      a(href='#')
                        img.img-fluid.rounded(src='../assets/images/icon/12.png' alt='You tube')
                    li.text-center.md-pe-3.pe-0
                      a(href='#')
                        img.img-fluid.rounded(src='../assets/images/icon/13.png' alt='linkedin')
                .social-info
                  ul.social-data-block.d-flex.align-items-center.justify-content-between.list-inline.p-0.m-0
                    li.text-center.ps-3
                      h6 Posts
                      p.mb-0 690
                    li.text-center.ps-3
                      h6 Followers
                      p.mb-0 206
                    li.text-center.ps-3
                      h6 Following
                      p.mb-0 100
        .card
          .card-body.p-0
            .user-tabing
              ul.nav.nav-pills.d-flex.align-items-center.justify-content-center.profile-feed-items.p-0.m-0
                li.nav-item.col-12.col-sm-3.p-0
                  a.nav-link.active(href='#pills-timeline-tab' data-bs-toggle='pill' data-bs-target='#timeline' role='button') Timeline
                li.nav-item.col-12.col-sm-3.p-0
                  a.nav-link(href='#pills-about-tab' data-bs-toggle='pill' data-bs-target='#about' role='button') About
                li.nav-item.col-12.col-sm-3.p-0
                  a.nav-link(href='#pills-friends-tab' data-bs-toggle='pill' data-bs-target='#friends' role='button') Friends
                li.nav-item.col-12.col-sm-3.p-0
                  a.nav-link(href='#pills-photos-tab' data-bs-toggle='pill' data-bs-target='#photos' role='button') Photos
      .col-sm-12
        .tab-content
          #timeline.tab-pane.fade.show.active(role='tabpanel')
            .card-body.p-0
              .row
                form.form-post 
                  #post-modal.modal.fade(tabindex='-1' aria-labelledby='post-modalLabel' aria-hidden='true')
                    .modal-dialog.modal-lg.modal-fullscreen-sm-down
                      .modal-content
                        .modal-header
                          h5#post-modalLabel.modal-title Create Post
                          button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                            i.ri-close-fill
                        .modal-body(style='max-height: 75vh; overflow-y: auto;')
                          .d-flex.align-items-center
                            .user-img
                              img.avatar-60.rounded-circle.img-fluid(src=`../img/users/${user.avatar}` alt='userimg')
                            form.post-text.ms-3.w-100()
                              textarea.form-control(name='content' rows='5' style='margin-left: 20px;line-height: 22px;' placeholder='Write something here...')
                          .d-flex.align-items-center
                            input.form-control(type = 'file' id='fileInput' name='images' multiple hidden)
                            #imagePreview.preview-container
                          hr
                          ul.d-flex.flex-wrap.align-items-center.list-inline.m-0.p-0
                            li.col-md-6.mb-3
                              #upImg.bg-soft-primary.rounded.p-2.pointer.me-3
                                img.img-fluid(src='../assets/images/small/07.png' alt='icon')
                                |  Photo/Video
                            li.col-md-6.mb-3
                              .bg-soft-primary.rounded.p-2.pointer.me-3
                                a(href='#')
                                img.img-fluid(src='../assets/images/small/09.png' alt='icon')
                                |  Feeling/Activity
                            li.col-md-6.mb-3
                              .bg-soft-primary.rounded.p-2.pointer.me-3
                                a(href='#')
                                img.img-fluid(src='../assets/images/small/08.png' alt='icon')
                                |  Tag Friend
                            li.col-md-6.mb-3
                              .bg-soft-primary.rounded.p-2.pointer.me-3
                                a(href='#')
                                img.img-fluid(src='../assets/images/small/13.png' alt='icon')
                                |  Watch Party
                            li.col-md-6.mb-3
                              .bg-soft-primary.rounded.p-2.pointer.me-3
                                a(href='#')
                                img.img-fluid(src='../assets/images/small/14.png' alt='icon')
                                |  Play with Friends
                          hr
                          .other-option
                            .d-flex.align-items-center.justify-content-between
                              .d-flex.align-items-center
                                .user-img.me-3
                                  img.avatar-60.rounded-circle.img-fluid(src=`../img/users/${user.avatar}` alt='userimg')
                                h6 Your Story
                              .card-post-toolbar
                                select.form-select.m-0.pl-4.bg-primary.text-white(name='status')
                                  option(value='public')
                                    | Public
                                  option(value='friends')
                                    | Friends
                                  option(value='private')
                                    | Only Me
                          button.btnSubmit.btn.btn-primary.d-block.w-100.mt-3(type='submit') Post
                .col-lg-4
                  .card
                    .card-body
                      a(href='#')
                        span.badge.badge-pill.bg-primary.font-weight-normal.ms-auto.me-1
                          i.ri-star-line
                        |  27 Items for yoou
                  .card
                    .card-header.d-flex.justify-content-between
                      .header-title
                        h4.card-title Photos
                      .card-header-toolbar.d-flex.align-items-center
                        p.m-0
                          a(href='javacsript:void();') Add Photo 
                    .card-body
                      ul.profile-img-gallary.p-0.m-0.list-unstyled
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g1.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g2.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g3.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g4.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g5.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g6.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g7.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g8.jpg' alt='gallary-image')
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/page-img/g9.jpg' alt='gallary-image')
                  .card
                    .card-header.d-flex.justify-content-between
                      .header-title
                        h4.card-title Friends
                      .card-header-toolbar.d-flex.align-items-center
                        p.m-0
                          a(href='javacsript:void();') Add New 
                    .card-body
                      ul.profile-img-gallary.p-0.m-0.list-unstyled
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/05.jpg' alt='gallary-image')
                          h6.mt-2.text-center Anna Rexia
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/06.jpg' alt='gallary-image')
                          h6.mt-2.text-center Tara Zona
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/07.jpg' alt='gallary-image')
                          h6.mt-2.text-center Polly Tech
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/08.jpg' alt='gallary-image')
                          h6.mt-2.text-center Bill Emia
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/09.jpg' alt='gallary-image')
                          h6.mt-2.text-center Moe Fugga
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/10.jpg' alt='gallary-image')
                          h6.mt-2.text-center Hal Appeno 
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/07.jpg' alt='gallary-image')
                          h6.mt-2.text-center Zack Lee
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/06.jpg' alt='gallary-image')
                          h6.mt-2.text-center Terry Aki
                        li
                          a(href='#')
                            img.img-fluid(src='../assets/images/user/05.jpg' alt='gallary-image')
                          h6.mt-2.text-center Greta Life
                .col-lg-8(style='max-height: 150vh; overflow-y: auto;')
                  #post-modal-data.card
                    .card-header.d-flex.justify-content-between
                      .header-title
                        h4.card-title Create Post
                    .card-body
                      .d-flex.align-items-center
                        .user-img
                          img.avatar-60.rounded-circle(src=`../img/users/${user.avatar}` alt='userimg')
                        form.post-text.ms-3.w-100(data-bs-toggle='modal' data-bs-target='#post-modal' action='#')
                          input.form-control.rounded(type='text' placeholder='Write something here...' style='border:none;')
                      hr
                      ul.post-opt-block.d-flex.list-inline.m-0.p-0.flex-wrap
                        li.bg-soft-primary.rounded.p-2.pointer.d-flex.align-items-center.me-3.mb-md-0.mb-2
                          a(href='#' data-bs-toggle='modal' data-bs-target='#post-modal')
                            img.img-fluid.me-2(src='../assets/images/small/07.png' alt='icon')
                            |  Photo/Video
                        li.bg-soft-primary.rounded.p-2.pointer.d-flex.align-items-center.me-3
                          a(href='#' data-bs-toggle='modal' data-bs-target='#post-modal')
                            img.img-fluid.me-2(src='../assets/images/small/09.png' alt='icon')
                            |  Feeling/Activity
                        li.bg-soft-primary.rounded.p-2.pointer.d-flex.align-items-center.me-3.mb-md-0.mb-2
                          a(href='#' data-bs-toggle='modal' data-bs-target='#post-modal')
                            img.img-fluid.me-2(src='../assets/images/small/08.png' alt='icon')
                            |  Tag Friend
                        li.bg-soft-primary.rounded.p-2.pointer.text-center
                          .card-header-toolbar.d-flex.align-items-center
                            .dropdown
                              #post-option.dropdown-toggle(data-bs-toggle='dropdown')
                                i.ri-more-fill.h4
                              .dropdown-menu.dropdown-menu-right(aria-labelledby='post-option' style='')
                                a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#post-modal') Check in
                                a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#post-modal') Live Video
                                a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#post-modal') Gif
                                a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#post-modal') Watch Party
                                a.dropdown-item(href='#' data-bs-toggle='modal' data-bs-target='#post-modal') Play with Friend
                  .card
                    .card-body#wrap-profile-posts
                      if posts.length > 0
                        each post in posts
                          .post-item
                            .user-post-data.py-3
                              .d-flex.justify-content-between
                                .me-3
                                  img.rounded-circle.avatar-60(src=`../img/users/${user.avatar}` alt='')
                                .w-100
                                  .d-flex.justify-content-between.flex-wrap
                                    div
                                      h5.mb-0.d-inline-block
                                        a(href='#')= user.username 
                                      p.ms-1.mb-0.d-inline-block Add New Post
                                      p.mb-0= post.moment
                                    .card-post-toolbar
                                      .dropdown
                                        span.dropdown-toggle(data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role='button')
                                          i.ri-more-fill
                                        .dropdown-menu.m-0.p-0
                                          a.dropdown-item.p-3(href='#')
                                            .d-flex.align-items-top
                                              i.ri-pencil-line.h4
                                              .data.ms-2
                                                h6 Edit Post
                                                p.mb-0 Update your post and saved items
                                          a.dropdown-item.p-3(href='#' data-postID = `${post._id}`).btnDelPost
                                            .d-flex.align-items-top
                                              i.ri-delete-bin-7-line.h4
                                              .data.ms-2
                                                h6 Delete
                                                p.mb-0 Remove this Post on Timeline
                                          a.dropdown-item.p-3(href='#')
                                            .d-flex.align-items-top
                                              i.ri-save-line.h4
                                              .data.ms-2
                                                h6 Save Post
                                                p.mb-0 Add this to your saved items
                            .user-post
                              p
                              |#{post.content}
                              .card-body
                                ul.my-profile-img-gallary.p-0.m-0.list-unstyled
                                  each image in post.images
                                    li
                                      a(href='#')
                                        img.img-fluid.rounded(src=`../img/posts/${image}` alt='gallary-image')
                              
                            .comment-area.mt-3
                              .d-flex.justify-content-between.align-items-center.flex-wrap
                                .like-block.position-relative.d-flex.align-items-center
                                  .d-flex.align-items-center
                                    .like-data
                                      .dropdown
                                        span.dropdown-toggle(data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role='button')
                                          img.img-fluid(src='../assets/images/icon/01.png' alt='')
                                        .dropdown-menu.py-2
                                          a.ms-2.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Like')
                                            img.img-fluid(src='../assets/images/icon/01.png' alt='')
                                          a.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Love')
                                            img.img-fluid(src='../assets/images/icon/02.png' alt='')
                                          a.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Happy')
                                            img.img-fluid(src='../assets/images/icon/03.png' alt='')
                                          a.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='HaHa')
                                            img.img-fluid(src='../assets/images/icon/04.png' alt='')
                                          a.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Think')
                                            img.img-fluid(src='../assets/images/icon/05.png' alt='')
                                          a.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Sade')
                                            img.img-fluid(src='../assets/images/icon/06.png' alt='')
                                          a.me-2(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Lovely')
                                            img.img-fluid(src='../assets/images/icon/07.png' alt='')
                                    .total-like-block.ms-2.me-3
                                      .dropdown
                                        span.dropdown-toggle(data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role='button')
                                          | 140 Likes
                                        .dropdown-menu
                                          a.dropdown-item(href='#') Max Emum
                                          a.dropdown-item(href='#') Bill Yerds
                                          a.dropdown-item(href='#') Hap E. Birthday
                                          a.dropdown-item(href='#') Tara Misu
                                          a.dropdown-item(href='#') Midge Itz
                                          a.dropdown-item(href='#') Sal Vidge
                                          a.dropdown-item(href='#') Other
                                  .total-comment-block
                                    .dropdown
                                      span.dropdown-toggle(data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role='button')
                                        | 20 Comment
                                      .dropdown-menu
                                        a.dropdown-item(href='#') Max Emum
                                        a.dropdown-item(href='#') Bill Yerds
                                        a.dropdown-item(href='#') Hap E. Birthday
                                        a.dropdown-item(href='#') Tara Misu
                                        a.dropdown-item(href='#') Midge Itz
                                        a.dropdown-item(href='#') Sal Vidge
                                        a.dropdown-item(href='#') Other
                                .share-block.d-flex.align-items-center.feather-icon.mt-2.mt-md-0
                                  a(href='#' data-bs-toggle='offcanvas' data-bs-target='#share-btn' aria-controls='share-btn')
                                    i.ri-share-line
                                    span.ms-1 99 Share
                              hr
                              if post.comments.length > 0
                                each comment in post.comments 
                                  +commentItem(comment, 0)
                                  if comment.childComments.length > 0
                                    each c1 in comment.childComments 
                                      +commentItem(c1, 5) 
                                      if c1.childComments.length > 0
                                        each c2 in c1.childComments 
                                          +commentItem(c2, 10)     
                              form.comment-text.d-flex.align-items-center.mt-3(action='javascript:void(0);')
                                input.form-control.rounded(type='text' placeholder='Enter Your Comment')
                                .comment-attagement.d-flex
                                  a(href='#')
                                    i.ri-link.me-3
                                  a(href='#')
                                    i.ri-user-smile-line.me-3
                                  a(href='#')
                                    i.ri-camera-line.me-3
                      else 
                        p.text-center No posts yet.
                    if posts.length > 0
                      .card-body.text-center
                        button#load-more-post.btn.btn-info.rounded-pill.mb-1  Load More    
          include _profile-about                    
          include _profile-friends
          include _profile-photos

