extend base

mixin request(req)
  li.d-flex.align-items-center.justify-content-between.flex-wrap
    .user-img.img-fluid.flex-shrink-0
      img.rounded-circle.avatar-40(src=`../img/users/${req.sender.avatar}` alt='story-img')
    .flex-grow-1.ms-3
      h6= req.sender.username
    .d-flex.align-items-center.mt-2.mt-md-0
      .confirm-click-btn
        a.me-3.btn.btn-primary.rounded.confirm-btn.accept-friend(href='#' data-request-id=`${req.id}`) Confirm
      a.btn.btn-secondary.rounded.delete-request(href='#' data-closest-elem='.item' data-request-id=`${req.id}`) Delete Request

mixin requested(req)      
    li.d-flex.align-items-center.justify-content-between.flex-wrap
      .user-img.img-fluid.flex-shrink-0
        img.rounded-circle.avatar-40(src=`../img/users/${req.receiver.avatar}` alt='story-img')
      .flex-grow-1.ms-3
        h6= req.receiver.username
      .d-flex.align-items-center.mt-2.mt-md-0
        a.btn.btn-secondary.rounded.delete-request(href='#' data-closest-elem='.item' data-request-id=`${req.id}`) Delete Request

mixin other(user)
  li.d-flex.align-items-center.flex-wrap
    .user-img.img-fluid.flex-shrink-0
      img.rounded-circle.avatar-40(src=`../img/users/${user.avatar}` alt='story-img')
    .flex-grow-1.ms-3
      h6= user.username
    .d-flex.align-items-center.mt-2.mt-md-0
      a.btnAddFriend.me-3.btn.btn-primary.rounded(href='#' data-receiver-id=`${user.id}`)
        i.ri-user-add-line.me-1
        | Add Friend

block content 
  #content-page.content-page
    .container
      .row
        .col-sm-12
          .card
            .card-body.p-0
              .user-tabing
                ul.nav.nav-pills.d-flex.align-items-center.justify-content-center.profile-feed-items.p-0.m-0
                  li.nav-item.col-12.col-sm-3.p-0
                    a.nav-link.active(href='#pills-other-tab' data-bs-toggle='pill' data-bs-target='#other' role='button') People You May Know
                  li.nav-item.col-12.col-sm-3.p-0
                    a.nav-link(href='#pills-friend-tab' data-bs-toggle='pill' data-bs-target='#friend' role='button') Friend
                  li.nav-item.col-12.col-sm-3.p-0
                    a.nav-link(href='#pills-friend-request-tab' data-bs-toggle='pill' data-bs-target='#friend-request' role='button') Friend Request
        .col-sm-12
          .tab-content
            #friend.tab-pane.fade(role='tabpanel')
              .card-header.d-flex.justify-content-between
                .header-title
                  h4.card-title Friends
              .card-body.p-0
                  .row
                    if(friends.length > 0)
                      each friend in friends
                        if(friend.sender.id !== user.id)
                          .col-md-6.col-lg-6.mb-3
                            .iq-friendlist-block
                              .d-flex.align-items-center.justify-content-between
                                .d-flex.align-items-center
                                  a(href=`/${friend.sender.key}`)
                                    img.img-fluid.avatar-130(src=`../img/users/${friend.sender.avatar}` alt='profile-img')
                                  .friend-info.ms-3
                                    h5= friend.sender.username
                                .card-header-toolbar.d-flex.align-items-center
                                  a.me-3.btn.btn-secondary.rounded.unfriend(href='#' data-sender=`${friend.sender.id}` data-receiver=`${friend.receiver.id}`) Unfriend
                        else 
                          if(friend.sender.id !== user.id)
                          .col-md-6.col-lg-6.mb-3
                            .iq-friendlist-block
                              .d-flex.align-items-center.justify-content-between
                                .d-flex.align-items-center
                                  a(href=`/${friend.receiver.key}`)
                                    img.img-fluid.avatar-130(src=`../img/users/${friend.receiver.avatar}` alt='profile-img')
                                  .friend-info.ms-3
                                    h5= friend.receiver.username
                                .card-header-toolbar.d-flex.align-items-center
                                  a.me-3.btn.btn-secondary.rounded.unfriend(href='#' data-sender=`${friend.sender.id}` data-receiver=`${friend.receiver.id}`) Unfriend

                    else 
                      .text-center
                        p Not yet friends                
            #friend-request.tab-pane.fade(role='tabpanel')
              .card
                .card-header.d-flex.justify-content-between
                  .header-title
                    h4.card-title Friend Request
                .card-body
                  ul.request-list.list-inline.m-0.p-0
                    if(friendRequest.length > 0)
                      each req in friendRequest
                        +request(req)
                    else 
                      .text-center
                        p Not yet friend request
              .card
                .card-header.d-flex.justify-content-between
                  .header-title
                    h4.card-title  Requested
                .card-body
                  ul.request-list.list-inline.m-0.p-0
                    if(requested.length > 0)
                      each req in requested
                        +requested(req)
                    else 
                      .text-center
                        p Not yet    
            #other.tab-pane.fade.show.active(role='tabpanel')
              .card
                .card-header.d-flex.justify-content-between
                  .header-title
                    h4.card-title People You May Know
                .card-body
                  ul.request-list.m-0.p-0
                    if(nonFriend.length > 0)
                      each user in nonFriend 
                        +other(user)
                    else 
                      .text-center
                        p Not yet
                    